.footer {
  background-color: #6D4C41;
  /* border-top: 1px solid #e5e5e5; */
  border-top: 1px solid rgba(255,255,255,0.15);
  box-shadow: 0 -2px 8px rgba(0,0,0,0.05);

  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);

  width: 100%;
  /* max-width: 500px; */
  height: 80px;

  display: flex;
  justify-content: space-around;
  align-items: center;

  box-sizing: border-box;
  z-index: 1000;
  gap: 20px;
  padding: 0 10px;

}

.footer p{
  color: #ffffff;
  font-size: 1.05em;
}

.nav-item img {
  width: 60px;
  height: 55px;
  object-fit: contain;
}

.nav-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0px;
  text-decoration: none;
  color: #666;
  font-family: "Zen Maru Gothic", sans-serif;
  font-size: 0.9em;
}

.nav-item {
  flex: 1;
  border-radius: 16px;
  transition: transform 0.2s ease;
}

.nav-item:hover {
  /* transform: translateY(-6px); */
  transform: translateY(-5px) scale(1.08);
  /* background-color: #e8f5e9; */
}

.nav-item:active {
  background-color: rgba(255, 255, 255, 0.1);
  transform: scale(.95);
}