.footer {
  background-color: #6D4C41;
  /* border-top: 1px solid #e5e5e5; */
  border-top: 1px solid rgba(255,255,255,0.15);
  box-shadow: 0 -2px 8px rgba(0,0,0,0.05);

  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);

  width: 100%;
  max-width: 430px;
  height: 80px;

  display: flex;
  justify-content: space-around;
  align-items: center;

  box-sizing: border-box;
  z-index: 1000;
}


.nav-item img {
  width: 60px;
  height: 55px;
  object-fit: contain;
}


.nav-item {
  display: flex;
  flex: 1;
  text-align: center;
  flex-direction: column;
  align-items: center;
  gap: 0px;

  text-decoration: none;
  color: white;
  font-family: "Zen Maru Gothic", sans-serif;
  font-size: 1em;
  border-right: 1px solid rgba(255, 255, 255, 0.2);

  transition: all 0.2s;
}

.nav-item:last-child {
  border-right: none;
}

.nav-item:hover {
  /* transform: translateY(-5px) scale(1.08); */
  /* background-color: #e8f5e9; */
  background-color: rgba(255, 255, 255, 0.1);
}

.nav-item.active {
  background-color: rgba(255, 255, 255, 0.2);
  color: white;
}