@charset "UTF-8";

/*追加ボタン*/
.upBtn {
    margin-top: 20px;
    width: 100%;
}

.upBtn button {
    margin-bottom: 20px;
    width: 25%;
    color: #5d3a1a;
    background-color: rgb(252, 175, 23, 0.4);
    padding: 6px;
    border: none;
    border-radius: 30px;
}

.upBtn button:active {
    background-color: #E29956;
    color: #fff;
}

/*画像表示*/
.gallery {
    display: flex;
    flex-direction: column;  /*縦並び*/
    align-items: center;
    gap: 20px;
}
.gallery img {
    width: 280px;
    height: auto;
}

/*削除ボタン*/
.deleteBtn {
    margin-top: 5px;
}
.deleteBtn button {
    font-size: 12px;
    color: #fffaf0;
    background-color: #5d3a1a;
    border: solid 3px #5d3a1a;
    opacity: 0.7;
}

/*さらに表示*/
.moreBtn {
    margin-top: 30px;
}
.moreBtn button{
    color: #5d3a1a;
    background-color: #fffaf0;
    border: none;
    text-decoration: underline;
    text-underline-offset: 2px;
}

/*.moreBtn button:hover {
    transform: rotate(4deg);
} 揺れる*/

.moreBtn button:active {
    transform: scale(0.85);
}  /*押し込みボタン*/