.cloud {
  width: 390px;
  height: 290px;
  top:1%;

  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;

  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 63px 60px 63px;
  box-sizing: border-box;
}

.heading {
  font-size: 25px;
  margin: 5px 0 16px -11%;
  font-weight: bold;
}

.list {
  width: 80%;
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.mission{
    font-size: 20px;
    padding: 3%;
}
.button{
    color: #00331c;
    background-color: #d9f2d0;
    border-radius: 50px;
    width: 20%;
    margin-top: 3%;
    font-size: 16px;
    position: absolute;
    bottom: 51%;
    border: none;
}
.button button:active {
    background-color: #5D8165;
    color: #fff;
}
.all{
    font-size: 29px;
    padding-top: 18%;
}
.complete{
    font-size: 29px;
}
