.login-container{
    position:relative;
    min-height:100vh;
    overflow:hidden;
    display:flex;
    justify-content:center;
    align-items:center;

    padding:0px 10px;
    margin: 0 auto;
}

.login-box{
    width:100%;
    max-width:380px;

    text-align:center;
    z-index:10;

}

h1{
    font-size:40px;
    color:#5D4633;
    margin-bottom:20px;
    font-family: "Zen Maru Gothic", sans-serif;
}

.input-box{
    position: relative;
    width: 100%;
    max-width: 380px;
    margin: 0 auto 10px;
}

.input-box input[name="mailAddress"],[name="password"]{
    width:80%;
    padding:18px 40px;
    margin-bottom:10px;
    border:none;
    border-radius:18px;
    background:white;
    box-shadow:0 8px 20px rgba(0,0,0,.08);
    font-size:17px;
    box-sizing:border-box;
    
}

.input-icon{
    position: absolute;
    top: 40%;
    left: 48px;
    transform: translateY(-50%);
    color: #8BB174;
    font-size: 18px;
}

.button-group{
    width: 100%;
    display:flex;
    gap:15px;
    margin:20px auto 0px;
    max-width: 300px;
}

.button-group button{
    flex:1;
    padding:15px;
    border:none;
    border-radius:40px;
    font-size:20px;
    font-weight:bold;
    cursor:pointer;
    transition:0.3s;
    font-family: "Zen Maru Gothic", sans-serif;
}

.login-btn{
    background:#7C9B56;
    color:white;
}

.login-btn:hover{
    background:#678247;
}

.reset-btn{
    background:#E8E2D5;
    color:#5D4633;
    border:2px solid #D7CFBF;
}

.reset-btn:hover{
    background:#DDD5C5;
}

.register{
    color:#666;
    font-size: 18px;
    font-family: "Zen Maru Gothic", sans-serif;
    margin-bottom: 10px;
}

.register-link{
    display:inline-block;
    margin-top:12px;
    color:#7C9B56;
    text-decoration:underline;
    font-weight:bold;
    
    /* font-size:20px; */
}

.title-line{
    width:300px;
    display:block;
    margin:0 auto 40px;
}

.leaf-icon{
    display: flex;
    align-items: center;
    justify-content: center;

    width: 300px;
    margin: 30px auto 30px;
}

.leaf-icon::before,
.leaf-icon::after{
    content: "";
    flex: 1;
    height: 2px;
    background-color: rgba(139, 177, 116, 0.5);
}

.leaf-icon img{
    width: 24px;
    height: 24px;
    margin: 0 15px;
}